.iconBorder {
    background-image: url('../../../toCDN/user-icon-default.png');
    background-position: 50%;
    background-repeat: no-repeat;
    border: 3px solid #ff485a;
    border-radius: 50%;
    height: 145px;
    width: 145px;
}