.mainContainer {
  display: flex;
  flex-direction: column;
}

.pageContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}

.inputField {
  border: 1px solid #fdd9dc;
  border-radius: 15px;
  box-sizing: border-box;
  color: #6f6571;
  display: flex;
  font-family: 'Baloo Bhai 2';
  font-size: 18px;
  line-height: 21px;
  padding: 18px;
  width: 100%;
}

.placeDescription {
  font-family: 'Baloo Bhai 2';
  font-size: 18px;
  line-height: 21px;
}