.container {
    align-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    justify-content: space-between;
    margin-top: 105px;
}

.btnBlock {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
}

.btnBlockText,
.btnGo {
    font-family: 'Baloo Bhai 2';
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.btnBlockText {
    color: #6F6571;
    text-align: center;
}

.btnGo {
    align-items: center;
    background-color: #FF485A;
    border-color: transparent;
    border-radius: 50px;
    color: #FFFFFF;
    display: flex;
    height: 50px;
    justify-content: center;
    text-decoration: none;
    width: 100%;
}

.imagesBlock {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
}
