.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.contentText {
    font-family: 'Baloo Bhai 2';
    font-size: 36px;
    line-height: 41px;
    font-weight: 700;
    text-decoration: none;
    color: #6F6571;
    margin-bottom: 30px;
}
