.wrapper {
    display: flex;
    flex-direction: row;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
}

.logoText {
    font-family: 'Baloo Bhai 2';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #6F6571;
}

.btnMenu {
    border: none;
    background: none;
}
