.modalContainer {
    background-color: #FFFFFF;
    display: flex;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.innerContainer {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.content {
    height: 100%;
    width: 100%;
}

.closeBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
}