.form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.inputField {
    border: 1px solid #fdd9dc;
    border-radius: 15px;
    box-sizing: border-box;
    color: #6f6571;
    display: flex;
    font-family: 'Baloo Bhai 2';
    font-size: 18px;
    line-height: 21px;
    padding: 18px;
    width: 100%;

    &:focus {
        border: 2px solid #ff485a;
        outline: none;
    }

    &::placeholder {
        color: #e5e5e5;
    }
}

.inputField:not(:first-child) {
    margin-top: 30px;
}

.inputFieldSelected {
    border-color: #ff485a;
}

.submitBtn,
.returnBtn {
    border-color: transparent;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    line-height: 21px;
    padding: 18px;
    padding: 18px;
    transition: font-size linear 0.5s;
    width: 60%;

    &:active {
        font-size: 14px;
        transition: font-size linear 0.5s;
    }

    &:focus {
        outline: none;
    }
}

.submitBtn {
    background-color: #ff485a;
    margin-bottom: 20px;
}

.returnBtn {
    background-color: #e5e5e5;
}

.socialRegistrations {
    display: flex;
    flex-direction: row;
}

.errorsBlock {
    color: #6f6571;
    display: flex;
    flex-direction: column;
    font-family: 'Baloo Bhai 2';
    margin: 20px 10px;
}
